@use 'sass:color';
@import "../../styles/colors";

.container {
    cursor: pointer;
    width: 100%;
    position: relative;
    user-select: none;
    padding: 0.25rem 0.5rem;
}

.currentValue {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.itemList {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    user-select: none;
    height: min-content;
    margin: 0.25rem 0;

    background-color: $white;

    display: flex;
    flex-direction: column;
    z-index: 10;

    box-shadow: 0 10px 25px 0 $backdrop;

    & span {
        width: 100%;
        padding: 0.5rem;
        vertical-align: middle;
    }

    & span:hover {
        background-color: color.adjust($primary, $alpha: -0.7);
    }
}
