.button {
  box-shadow: 10px 6px 25px 0px rgba(42, 139, 242, 0.15),
    4px 4px 25px 0px rgba(42, 139, 242, 0.05),
    6px 6px 25px 0px rgba(42, 139, 242, 0.15);
  border: none;
  border-radius: 0.375rem;
  width: 12rem;
  height: 2.75rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.primary {
  background: linear-gradient(93deg, #7cb8f7 0%, #2a8bf2 100%);
  color: #fff;

  & svg {
    stroke: #fff;
  }
}

.secondary {
  background: #fff;
  color: #707c97;

  & svg {
    stroke: #707c97;
  }
}

.tertiary {
  background: #2a8bf2;
  color: #fff;

  & svg {
    stroke: #fff;
  }
}

.none {
  background: transparent;
  color: #707c9785;

  & svg {
    stroke: #707c9785;
  }
}
