.container {
  position: absolute;
  top: -2rem;
  left: 0;
  right: 0;
  overflow: auto hidden;

  & span {
    font-size: 1.5rem;
    transition: transform 100ms ease-out;

    &:hover {
      transform: scale(1.1);
    }
  }
}