@import "../../styles/colors";

.container {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0,0.2) 100%);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-out;

  &[data-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }
}

.box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: $white;
  border-radius: 0.375rem;
  width: min-content;
  min-width: 200px;
  min-height: 80px;
  z-index: 1;
  padding: 2rem;
  top: 4rem;
  opacity: 1;
  visibility: visible;
  transition: top 200ms ease-out;

  &[data-hidden="true"] {
    top: -14rem;
    visibility: hidden;
    opacity: 0;
  }
}