@import "../../styles/colors";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    color: $text;
    background: $clear;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
}

h1,
h2 {
    font-weight: 400;
    color: #0d1c2e;
}

input::placeholder {
    color: #707c97;
}

input {
    color: #707c97;
}
